Repository comworkio/elastic-indices-lifecycle: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rollup-x86, rollup-arm, backup-x86, backup-arm

.gitlab-ci.yml:

stages:
  - publish

mirror:
  stage: publish
  script:
    - setsid ./ci/mirror.sh
  only:
    - /^(master.*)$/
  tags:
    - elasticlifecycle

rollup-x86:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "x86" "rollup" "1.8"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - rollup/*
      - Dockerfile
      - Dockerfile.arm
  tags:
    - elasticlifecycle

rollup-arm:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "arm" "rollup" "1.8"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - rollup/*
      - Dockerfile
      - Dockerfile.arm
  tags:
    - buildarm

backup-x86:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "x86" "backup" "1.12"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - backup/*
      - Dockerfile
      - Dockerfile.arm
  tags:
    - elasticlifecycle

backup-arm:
  stage: publish
  script:
    - setsid ./ci/docker-deliver.sh "arm" "backup" "1.12"
  only:
    refs:
      - /^(master.*)$/
    changes:
      - backup/*
      - Dockerfile
      - Dockerfile.arm
  tags:
    - buildarm

Clarified logs
  README.md
Due: none

Do not fall when there is an exception
  .gitlab-ci.yml
  rollup/rollup.py
Due: rollup-x86, rollup-arm

Update docker-deliver.sh in order to use an environment variable for the docker username instead
  ci/docker-deliver.sh
Due: none

Upgrade elasticsearch client
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  requirements.txt
Due: rollup-x86, rollup-arm, backup-x86, backup-arm

Upgrade elasticsearch client
  requirements.txt
Due: none

Add prune cmd
  ci/docker-deliver.sh
Due: none

Fix: change gitlab-ci conditions
  .gitlab-ci.yml
Due: none

Add digest
  Dockerfile.arm
Due: rollup-x86, rollup-arm, backup-x86, backup-arm

Remove debug code
  ci/docker-deliver.sh
Due: none

Add try/except when elasticsearch isn't available
  .gitlab-ci.yml
  rollup/rollup.py
Due: rollup-x86, rollup-arm

Better error handling
  .gitlab-ci.yml
  rollup/rollup.py
Due: rollup-x86, rollup-arm

Upgrade packages
  Dockerfile.arm
Due: rollup-x86, rollup-arm, backup-x86, backup-arm

Force rebuild packages
  Dockerfile.arm
Due: rollup-x86, rollup-arm, backup-x86, backup-arm

Fix: use debian buster instead
  Dockerfile.arm
Due: rollup-x86, rollup-arm, backup-x86, backup-arm

Fix: improve handling errors
  .gitlab-ci.yml
  rollup/rollup.py
Due: rollup-x86, rollup-arm

New version with configurable separator
  .gitlab-ci.yml
  README.md
  rollup/rollup.py
Due: rollup-x86, rollup-arm

New version with configurable separator
  rollup/rollup.py
Due: rollup-x86, rollup-arm

Change runners
  .gitlab-ci.yml
  Dockerfile
Due: rollup-x86, rollup-arm, backup-x86, backup-arm

Add bitbucket mirror
  README.md
  ci/mirror.sh
Due: none

Add froggit mirror
  README.md
  ci/mirror.sh
Due: none

Replace kustomize with a nicer helmchart
  README.md
  helm/Chart.yaml
  helm/kube-infra-values.yaml
  helm/templates/eslifecycle.yaml
  helm/templates/sealed-secrets.yml
  helm/values.yaml
  images/argocd.png
  kubernetes/base/cmn/configmap.yaml
  kubernetes/base/kustomization.yaml
  kubernetes/development/cmn/configmap.yaml
  kubernetes/development/kustomization.yaml
  kubernetes/prod/cmn/configmap.yaml
  kubernetes/prod/kustomization.yaml
Due: none

Remove some mirrors and add dockerignore
  .dockerignore
  .gitlab-ci.yml
  ci/mirror.sh
Due: none

Update file README.md
  README.md
Due: none
